{
  "extends": "airbnb",
  "parserOptions":{
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "spread": true,
      "jsx": true,
      "restParams": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  }
}