{
  "extends": "airbnb",
  "rules": {
    "react/no-array-index-key": 0,
    "class-methods-use-this": 0,
    "react/forbid-prop-types": 0,
  },
  "parserOptions":{
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "spread": true,
      "jsx": true,
      "restParams": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  }
}